/* Hero */
.body{
  height: 40rem;
}


/*  Footer  */

.footer {
  background-color: #1a202c; /* Fondo gris oscuro */
  color: #e2e8f0; /* Texto gris claro */
  margin-top: auto;
  text-align: center;
  margin-top: -8px;
  padding: 3.4vh;
} 